{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "top_menu.html" %}
<div class="top_wrapper   no-transparent">
<!-- .header -->
<!-- Page Head -->
    <div class="header_page basic background_image colored_bg" style="background-image:url();background-repeat: no-repeat;background:#f6f6f6; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; color:#2f383d; ">
        <div class="container">
            
            <h1 class="title">About Us </h1>
            <div class="breadcrumbss">
                <ul class="page_parents pull-right">
                    <li class="breadcrumbs_c"><i class="moon-home-3"></i>&nbsp;&nbsp;&nbsp;You are here</li>
                    <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="index.html">Home</a></li>
                    <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section id="content" class="composer_content" style="padding-top: 0px !important; padding-bottom: 0px;">
            <div id="fws_5568693623358" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 80px !important; padding-bottom: 80px !important; margin-bottom: 0px;">
                <div class="bg-overlay" style="background:rgba(, , , 0.5);z-index:1;"></div>
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_revslider_element wpb_content_element">
                                    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; padding: 0px; max-height: 700px; height: 320px; overflow: visible; background-color: rgb(233, 233, 233);">
                                        <!-- START REVOLUTION SLIDER 4.6.3 fullwidth mode -->
                                        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 700px; height: 320px;">
                                            <ul class="tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 700px;">
                                                <!-- SLIDE  -->
                                                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="13000" data-saveperformance="off" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
                                                    <!-- MAIN IMAGE -->
                                                    <div class="slotholder" style="width:100%;height:100%;" data-duration="14000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="right center" data-bgposition="left center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-owidth="undefined" data-oheight="undefined">
                                                        <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="100" data-bgposition="left center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="{% static 'uploads/revslider/kenburns_boxed/kenburns1.jpg' %}" data-src="{% static 'uploads/revslider/kenburns_boxed/kenburns1.jpg' %}" style="width: 100%; height: 100%; opacity: 1; visibility: inherit; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns1.jpg' %}); background-color: rgba(0, 0, 0, 0); background-size: 133.568328571428% 126.007857142857%; background-position: 15.4580468876523% 0%; background-repeat: no-repeat;"></div>
                                                        <div class="kenburnimg" style="position:absolute;z-index:1;width:100%;height:100%;top:0px;left:0px;"><img src="{% static 'uploads/revslider/kenburns_boxed/kenburns1.jpg' %}" style="-webkit-user-select: none; position: absolute; width: 106%; height: 100%; left: 0px; top: 0px; visibility: inherit; opacity: 1; transform: matrix(1.0489, 0, 0, 1.0489, -5.21600000000035, 0); transform-origin: 0% 0% 0px;"></div>
                                                    </div>
                                                    <!-- LAYERS -->
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption reddishbg_heavy_70 lfb fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="600" data-start="500" data-easing="Power4.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 23px; letter-spacing: 0px; font-size: 32px; left: 93px; top: 121px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption borderbox_725x130 tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="600" data-start="800" data-easing="Power4.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power1.easeOut" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 59.4285714285714px; min-width: 331.428571428571px; line-height: 9px; border-width: 1px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 101px; top: 129.5px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                    </div>
                                                </li>
                                                <!-- SLIDE  -->
                                                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                                                    <!-- MAIN IMAGE -->
                                                    <div class="slotholder" style="width:100%;height:100%;" data-duration="16000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="center top" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined">
                                                        <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="110" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="{% static 'uploads/revslider/kenburns_boxed/kenburns6.jpg' %}" data-src="assets/uploads/revslider/kenburns_boxed/kenburns6.jpg" style="width: 100%; height: 100%; opacity: 0; visibility: hidden; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns6.jpg' %}); background-color: rgba(0, 0, 0, 0); background-size: 107.0547% 100.995%; background-position: 42.5061069320824% 0%; background-repeat: no-repeat;"></div>
                                                    </div>
                                                    <!-- LAYERS -->
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="100" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 9px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption white_heavy_70 tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="-15" data-y="center" data-voffset="0" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="300" data-endeasing="Power1.easeOut" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 32px; left: 111.142857142857px; top: 144px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                                        <div class="tp-splitted" style="display: block; text-align: left; position: relative;">
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">W</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">L</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">C</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">M</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">T</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">Y</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">C</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                                                                </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption whiteline_long customin fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="50" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 301.714285714286px; line-height: 0px; border-width: 1px 0px 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 117px; top: 182.357142857143px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption light_medium_20 tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="-20" data-y="center" data-voffset="130" data-speed="600" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 8; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px; left: 122.357142857143px; top: 191.428571428571px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">“I love New York. You can pop out of the Underworld in Central
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;">Park, hail a taxi, head down Fifth Avenue with a giant hellhound
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;"> loping behind you, and nobody even looks at you funny.”
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;">― Rick Riordan
                                                    </div>
                                                </li>
                                                <!-- SLIDE  -->
                                                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                                                    <!-- MAIN IMAGE -->
                                                    <div class="slotholder" style="width:100%;height:100%;" data-duration="16000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="right bottom" data-bgposition="left top" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined">
                                                        <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="130" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="{% static 'uploads/revslider/kenburns_boxed/kenburns3.jpg' %}" data-src="{% static 'uploads/revslider/kenburns_boxed/kenburns3.jpg' %}" style="width: 100%; height: 100%; opacity: 0; visibility: hidden; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns3.jpg' %}); background-color: rgba(0, 0, 0, 0); background-size: 109.1859625% 103.005625%; background-position: 58.7130671315063% 0%; background-repeat: no-repeat;"></div>
                                                    </div>
                                                    <!-- LAYERS -->
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="100" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 9px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption white_heavy_70 tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="-80" data-y="center" data-voffset="0" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="300" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 32px; left: 110.428571428571px; top: 144px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                                        <div class="tp-splitted" style="display: block; text-align: left; position: relative;">
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">N</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">D</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">W</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">I</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">D</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">M</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                                                                </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption whiteline_long customin fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="50" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 301.714285714286px; line-height: 0px; border-width: 1px 0px 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 116.5px; top: 182.357142857143px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption light_medium_20 tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="-31" data-y="center" data-voffset="120" data-speed="600" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 8; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px; left: 120.828571428571px; top: 193.857142857143px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">“Just move to the Internet, its great here.
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;"> We get to live inside where the weather is always awesome.”
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;"> ― John Green
                                                    </div>
                                                </li>
                                                <!-- SLIDE  -->
                                                <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;">
                                                    <!-- MAIN IMAGE -->
                                                    <div class="slotholder" style="width:100%;height:100%;" data-duration="16000" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="Linear.easeNone" data-bgpositionend="center center" data-bgposition="right center" data-kenburns="on" data-easeme="Linear.easeNone" data-bgfit="150" data-bgfitend="100" data-owidth="undefined" data-oheight="undefined">
                                                        <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="150" data-bgposition="right center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="{% static 'uploads/revslider/kenburns_boxed/kenburns4.jpg' %}" data-src="{% static 'uploads/revslider/kenburns_boxed/kenburns4.jpg' %}" style="width: 100%; height: 100%; opacity: 1; visibility: inherit; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns4.jpg' %}); background-color: rgba(0, 0, 0, 0); background-size: 111.2370625% 104.940625%; background-position: 29.2951515470264% 0%; background-repeat: no-repeat;"></div>
                                                    </div>
                                                    <!-- LAYERS -->
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption fullgradient_overlay tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="100" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power1.easeOut" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 9px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 0px; top: 0px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption white_heavy_70 tp-fade fadeout tp-resizeme start splitted" data-x="center" data-hoffset="-80" data-y="center" data-voffset="0" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="chars" data-elementdelay="0.05" data-endelementdelay="0.05" data-endspeed="300" data-endeasing="Power1.easeOut" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 32px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 32px; left: 112.428571428571px; top: 144px; visibility: visible; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                                        <div class="tp-splitted" style="display: block; text-align: left; position: relative;">
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">U</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">F</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">E</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">D</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">O</div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">M</div>
                                                            </div>
                                                            <div style="position:relative;display:inline-block;" class="tp-splitted">
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                                                                </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                                <div style="position: relative; display: inline-block; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted"> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption whiteline_long customin fadeout tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="50" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 301.714285714286px; line-height: 0px; border-width: 1px 0px 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 6px; left: 117px; top: 182.357142857143px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption light_medium_20 tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="-85" data-y="center" data-voffset="120" data-speed="600" data-start="800" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" data-endeasing="Power1.easeOut" style="z-index: 8; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px; left: 120.142857142857px; top: 193.857142857143px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">“Freedom is not worth having if it does not include
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;"> the freedom to make mistakes.”
                                                        <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 14px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 9px;"> ― Mahatma Gandhi
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="tp-bannertimer" style="width: 72.3000000000009%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>
                                            <div class="tp-loader spinner0" style="display: none;">
                                                <div class="dot1"></div>
                                                <div class="dot2"></div>
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                        <div class="tp-bullets hidebullets simplebullets round" style="bottom: 20px; left: 50%; margin-left: -48px;">
                                            <div class="bullet first selected"></div>
                                            <div class="bullet"></div>
                                            <div class="bullet"></div>
                                            <div class="bullet last"></div>
                                            <div class="tpclear"></div>
                                        </div>
                                        <div style="position: absolute; top: 160px; margin-top: -30px; left: 20px;" class="tp-leftarrow hidearrows tparrows default round">
                                            <div class="tp-arr-allwrapper">
                                                <div class="tp-arr-iwrapper">
                                                    <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns4.jpg' %});"></div>
                                                    <div class="tp-arr-imgholder2"></div>
                                                    <div class="tp-arr-titleholder"></div>
                                                    <div class="tp-arr-subtitleholder"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position: absolute; top: 160px; margin-top: -30px; right: 20px;" class="tp-rightarrow hidearrows tparrows default round">
                                            <div class="tp-arr-allwrapper">
                                                <div class="tp-arr-iwrapper">
                                                    <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url({% static 'uploads/revslider/kenburns_boxed/kenburns6.jpg' %});"></div>
                                                    <div class="tp-arr-imgholder2"></div>
                                                    <div class="tp-arr-titleholder"></div>
                                                    <div class="tp-arr-subtitleholder"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END REVOLUTION SLIDER -->
                                </div>
                                <div style="margin-top:-35px" class="divider__ big_shadow"></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>WHAT IS IMPORTANT FOR US?</h2></div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>At clear Code Labs your Business growth is very very important to us ,</p>
                                    </div>
                                </div>
                                <div id="fws_556869362a785" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Growth. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Future. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We Shape Your Strategy </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We facilitates Evaluation and Improvement. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Make Your Company unique in your industry. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you meet your Customer Expectations</h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Ensure your reputation is Maintained in your industry  </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help Your Business Meet Standards </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you Establish Online presence </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you save Cost </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556869362db2e" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 0px !important; padding-bottom: 0px !important; margin-bottom: 0px;">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Our Specialty</h2></div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Clear Code Labs is commited to providing the following Services to Individual businesses as well as to companies.</p>
                                    </div>
                                </div>
                                <div class="wpb_content_element block_skill">
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Web Development</h6>
                                        <div class="prog" style="width:0%; background:#94e0fe;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Mobile Development</h6>
                                        <div class="prog" style="width:0%; background:#23d5ff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">IT Solutions</h6>
                                        <div class="prog" style="width:0%; background:#0baaff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">ICT Consulting</h6>
                                        <div class="prog" style="width:0%; background:#0a81cd;"><span style="float:right">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Why Choose Us</h2></div>
                                <div class="wpb_accordion wpb_content_element not-column-inherit">
                                    <div class="accordion " id="accordion1" data-active-tab="">
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading in_head"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle19724">5 Stars Support</a></div>
                                            <div id="toggle19724" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our Support is next to no other, we always commited to providing you with Every support required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle34392">Great Page Builder</a></div>
                                            <div id="toggle34392" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our Design Concept Ensure you have Great Website and Mobile Applications for your Business.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle12498">Awesome Design Layout</a></div>
                                            <div id="toggle12498" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>In Simple Term Our Softwares are Awesome with fantastic Layout to suit Every Device of your Choice.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556869363273c" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 60px !important; padding-bottom: 60px !important; margin-bottom: 0px;">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Team Members</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556869363376b" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 0px !important; padding-bottom: 90px !important; margin-bottom: 0px;">
                <div class="container  dark">
                    <div class="section_clear">
                    {% for member in staff %}
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element">
                                
                                    <div class="one-staff">
                                    
                                        <div class="img_staff"><img src="{{ member.photo.url }}" alt=""></div>
                                        <div class="content ">
                                            <h6>{{ member.full_name }}</h6>
                                            <div class="position_title"><span class="position">{{ member.job_title }}</span></div>
                                            <p>{{ member.bio|truncatechars:40 }}</p>
                                        </div>
                                        <div class="social_widget">
                                            <ul>
                                                <li class="facebook"><a href="{{ member.facebook_url }}" title="Facebook" target="_blank"><i class="moon-facebook"></i></a></li>
                                                <li class="twitter"><a href="{{ member.twitter_url }}" title="Twitter" target="_blank"><i class="moon-twitter"></i></a></li>
                                                <li class="google_plus"><a href="{{ member.google_plus_url }}" title="Google Plus" target="_blank"><i class="moon-google_plus"></i></a></li>
                                                <li class="pinterest"><a href="{{ member.pintrest_url }}" title="Pinterest" target="_blank"><i class="moon-pinterest"></i></a></li>
                                                <li class="linkedin"><a href="{{ member.linkdin_url }}" title="Linkedin" target="_blank"><i class="moon-linkedin"></i></a></li>
                                                <!-- <li class="main"><a href="#" title="Mail"><i class="moon-mail"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                     
                                </div>
                                
                            </div>
                        </div>
                            {% endfor %}                  
                    </div>
                </div>
            </div>
            <div id="fws_55686936459ee" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 0px !important; padding-bottom: 90px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="dark_clients clients_el ">
                                    <div class="header">
                                        <h2>Our Clients</h2></div>
                                    <section class="row clients clients_caro">
                                        {% for company in company%}
                                        <div class="item">
                                            <a href="#" title="">
                                                <img src="{{ company.logo.url }}" alt="">
                                            </a>
                                        </div>
                                        {% endfor %}
                                  
                                    </section>
                                    <div class="controls">
                                        <a class="prev"></a>
                                        <a class="next"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</div>
{% include 'footer.html' %}

{% endblock %}