{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "top_menu.html" %}

 <div class="top_wrapper   no-transparent">
        <span class="slider-img"></span>
        <section id="slider-fullwidth" class="slider">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
                <!-- START REVOLUTION SLIDER 4.6.3 fullwidth mode -->
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:500px;height:500px;">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-fstransition="fadetoleftfadefromright" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'uploads/2015/02/1.jpg' %}" alt="1212312" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption lfl" data-x="590" data-y="25" data-speed="700" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;">
                                <img src="{% static 'uploads/2015/02/2.png' %}" alt="" data-ww="441.8546365914787" data-hh="430">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr" data-x="913" data-y="275" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;"><img src="{% static 'uploads/2015/02/3.png' %}" alt="" data-ww="178.33333333333334" data-hh="214">
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sft" data-x="5" data-y="211" data-speed="500" data-start="600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7;"><img src="{% static 'uploads/2015/02/5.png' %}" alt="" data-ww="329" data-hh="22">
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption lft" data-x="0" data-y="131" data-speed="700" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8;"><img src="{% static 'uploads/2015/02/4.png' %}" alt="" data-ww="398" data-hh="111">
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sfl" data-x="516" data-y="452" data-speed="1000" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9;"><img src="{% static 'uploads/2015/02/keyboard-4.png' %}" alt="" data-ww="250.54545454545456" data-hh="26">
                            </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption sfr" data-x="790" data-y="462" data-speed="900" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;"><img src="{% static 'uploads/2015/02/mouse-2.png' %}" alt="" data-ww="93.02325581395348" data-hh="25">
                            </div>
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption lfb" data-x="3" data-y="275" data-speed="700" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;"><img src="{% static 'uploads/2015/02/6.png' %}" alt="" data-ww="507" data-hh="200">
                            </div>
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption lfb" data-x="-2" data-y="368" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12;"><!-- <img src="" alt="" data-ww="171.80952380952382" data-hh="41"> -->
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical,fadefromright,fadefromleft,fadefromtop,fadefrombottom,fadetoleftfadefromright,fadetorightfadefromleft,fadetotopfadefrombottom,fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'uploads/2015/01/1.jpg' %}" alt="slideerr" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfr" data-x="-2" data-y="114" data-speed="700" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;"><!-- <img src="{% static 'uploads/2015/01/slidezzr.png' %}" alt="" data-ww="562.7692307692307" data-hh="59"> -->
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr" data-x="3" data-y="188" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;">
                                <div style="" class="tp-layer-inner-rotation   rs-pulse" data-easing="Power3.easeInOut" data-speed="2" data-zoomstart="1" data-zoomend="1"><!-- <img src="{% static 'uploads/2015/02/A-multipurpose-wordpress-theme.png' %}" alt=""> -->
                                </div>
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lfb" data-x="2" data-y="258" data-speed="700" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7;"><!-- <img src="{% static 'uploads/2015/01/slidzzzer.png' %}" alt="" data-ww="506" data-hh="61"> -->
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption very_large_text customin" data-x="-2" data-y="354" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8;"><!-- <img src="" alt="" data-ww="168" data-hh="40"> -->
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'uploads/2015/02/7.png' %}" alt="bg-11" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sft" data-x="7" data-y="245" data-speed="500" data-start="600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;"><img src="{% static 'uploads/2015/02/8.png' %}" alt="" data-ww="329" data-hh="200">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfl" data-x="353" data-y="89" data-speed="700" data-start="650" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;"><img src="{% static 'uploads/2015/03/ipad-hand1.png' %}" alt="">
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lft" data-x="5" data-y="160" data-speed="700" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7;"><!-- <img src="{% static 'uploads/2015/02/1323123.png' %}" alt="" data-ww="426.68468468468467" data-hh="119"> -->
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption lfb" data-x="1" data-y="310" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8;"><!-- <img src="" alt="" data-ww="171.80952380952382" data-hh="41"> -->
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical,fadefromright,fadefromleft,fadefromtop,fadefrombottom,fadetoleftfadefromright,fadetorightfadefromleft,fadetotopfadefrombottom,fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'uploads/2015/02/9.png' %}" alt="1231" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption skewfromright" data-x="437" data-y="280" data-speed="700" data-start="800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;"><!-- <img src="{% static 'uploads/2015/01/22222.png' %}" alt=""> -->
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption skewfromleft" data-x="24" data-y="283" data-speed="700" data-start="1100" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;"><!-- <img src="{% static 'uploads/2015/01/111.png' %}" alt=""> -->
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lfb" data-x="188" data-y="170" data-speed="700" data-start="500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7;"><img src="{% static 'uploads/2015/01/2.png' %}" alt="" data-ww="677" data-hh="386">
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption customin" data-x="230" data-y="69" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/7.png' %}" alt="" data-ww="53.33333333333333" data-hh="54">
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption customin" data-x="304" data-y="68" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1400" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/38.png' %}" alt="" data-ww="54" data-hh="54">
                            </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption customin" data-x="381" data-y="69" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/1.png' %}" alt="" data-ww="56" data-hh="56">
                            </div>
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption customin" data-x="457" data-y="66" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1600" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/2.png' %}" alt="" data-ww="56" data-hh="56">
                            </div>
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption customin" data-x="531" data-y="65" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/3.png' %}" alt="" data-ww="56.98245614035088" data-hh="58">
                            </div>
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption customin" data-x="606" data-y="65" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1800" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 13;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/4.png' %}" alt="" data-ww="59" data-hh="59">
                            </div>
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption customin" data-x="683" data-y="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="1900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 14;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/5.png' %}" alt="" data-ww="57" data-hh="57">
                            </div>
                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption customin" data-x="757" data-y="73" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="300" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 15;"><img src="{% static 'uploads/layerslider/LayerSlider-5-responsive-demo-slider/6.png' %}" alt="" data-ww="56" data-hh="56">
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="fade,boxfade,slotfade-horizontal,slotfade-vertical,fadefromright,fadefromleft,fadefromtop,fadefrombottom,fadetoleftfadefromright,fadetorightfadefromleft,fadetotopfadefrombottom,fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'uploads/2015/01/4.jpg' %}" alt="sliderdsd" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfr" data-x="-2" data-y="153" data-speed="700" data-start="700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;"><!-- <img src="{% static 'uploads/2015/01/slidezzr.png' %}" alt="" data-ww="505.7457627118644" data-hh="53"> -->
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfr" data-x="-3" data-y="235" data-speed="700" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6;"><!-- <img src="{% static 'uploads/2015/01/slidzzzer.png' %}" alt="" data-ww="456.95000000000005" data-hh="57"> -->
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption lfb" data-x="-3" data-y="356" data-speed="700" data-start="1400" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7;"><!-- <img src="" alt="" data-ww="200.88888888888889" data-hh="48"> -->
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption customin" data-x="-16" data-y="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="700" style="z-index: 8;"><img src="{% static 'uploads/revslider/sliderpreview/imac1.png' %}" alt="" data-ww="73.5" data-hh="63">
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption customin" data-x="42" data-y="71" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="700" style="z-index: 9;"><img src="{% static 'uploads/revslider/sliderpreview/lupe_imac.png' %}" alt="" data-ww="77.16923076923078" data-hh="66">
                            </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption customin" data-x="116" data-y="73" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="2300" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="700" style="z-index: 10;"><img src="{% static 'uploads/revslider/sliderpreview/icon_photo.png' %}" alt="" data-ww="54" data-hh="54">
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
               
               
            </div>
            <!-- END REVOLUTION SLIDER -->
        </section>
        <!-- .header -->
        <section id="content" style="" class="composer_content">
            <div id="fws_5559b27a6e0af" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 80px !important; padding-bottom: 0px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element dynamic_page_header style_3">
                                    <h1 style="font-size:36px; color:#3d3d3d">Welcome To Clear Code Labs </h1>
                                    <div class="line_under">
                                        <div class="line_center"></div>
                                    </div><!--  -->
                                    <div class="line_under below_line">
                                        <div class="line_center"></div>
                                    </div>
                                    <p class="description style_3">Your Home for all IT solutions, Mobile Development, Web Development and ICT Consulting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5559b27a6ecce" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 0px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class=" services_medium wpb_content_element ">
                                    <img src="{% static 'img/consult3.jpg' %}" class="img-responsive">
                                    <!-- <div class="icon_wrapper">
                                        <div class="overlay"></div>
                                        <i class="moon-pencil-2"></i>
                                    </div>  -->
                                    <h4><a href="">ICT CONSULTING</a></h4>
                                    <p style="text-align: justify">ClearCode labs has a philosophy <br>
                                        <strong>No Problem is too big, <br>
                                        No detail is too small</strong> <br>
                                    Based on this ideology we focus on advising organizations on how best to use the available technologies to solve their IT problems and we ensure that we give the best details to lesson ambiguity and to put clearity on the nitty-gritty that would aid the client in achieving their desired business goals.</p>
                                    <div class="read_more"><!-- <a href="#" class="readmore">Read More</a> --></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class=" services_medium wpb_content_element ">
                                    <img src="{% static 'img/webdev2.jpg' %}" class="img-responsive">
                                    <!-- <div class="icon_wrapper">
                                        <div class="overlay"></div>
                                        <i class="steadysets-icon-box"></i>
                                    </div> -->
                                    <h4><a href="">WEB APP DEVELOPMENT</a></h4>
                                    <p style="text-align: justify">We develop highly cost effective and goal oriented custom websites. ClearCode labs have been creating top-notch web applications since 1997, and has progressively gained insights into Aesthetic Layers design, Technical Layers functionality & Friendly User experience. We always focus on achieving our customers' aims by keeping close relationships.</p>
                                    <div class="read_more"></div>

                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class=" services_medium wpb_content_element ">
                                    <img src="{% static 'img/mobile3.jpg' %}" class="img-responsive">
                                    <!-- <div class="icon_wrapper">
                                        <div class="overlay"></div>
                                        <i class="moon-mobile-2"></i>
                                    </div> -->
                                    <h4><a href="">MOBILE APPLICATION DEVELOPMENT</a></h4>
                                    <p style="text-align: justify">Clear-code Labs develop Portable, Lightweight, Cost effective Mobile Apps for Windows-Phones, iPhone, Android & Blackberry platforms. These applications can be custom-installed on your device or can be deployed to the various App-Stores for many users to have access to, there-by augmenting your reach to different people on other Mobile Platforms.</p>
                                    <div class="read_more"><!-- <a href="#" class="readmore">Read More</a> --></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class=" services_medium wpb_content_element ">
                                    <img src="{% static 'img/consult4.jpg' %}" class="img-responsive">
                                    <!-- <div class="icon_wrapper">
                                        <div class="overlay"></div>
                                        <i class="moon-screen-4"></i>
                                    </div> -->
                                    <h4><a href="">IT SUPPORT PROVIDER</a></h4>
                                    <p style="text-align: justify">We don't just provide expert IT Solutions, Clear Code labs also provides a wide variety of support for web hosting, maintenance and troubleshooting. Including fixing website errors for systems not orignilly designed by our team. Dare to make us your first choice and be one of the fortune great companies that have enjoyed the benefits of our long lasting solutions of unequalled benefits</p>
                                    <div class="read_more"><!-- <a href="#" class="readmore">Read More</a> --></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--8888888888888888888888888888- - -ANOTHER SECTION- - -8888888888888888888888888888888 -->
<!--
            <div id="fws_5559b27a71986" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el full-width-content section-style    " style="background-color: #f6f6f6; padding-top: 90px !important; padding-bottom: 0px !important; ">
                <div class="col span_12  dark">
                    <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                        <div class="wpb_wrapper">
                            <div class="wpb_content_element dynamic_page_header style_3">
                                <h1 style="font-size:36px; color:#3d3d3d">Our Recent Projects</h1>
                                <div class="line_under">
                                    <div class="line_center"></div>
                                </div>
                                <div class="line_under below_line">
                                    <div class="line_center"></div>
                                </div>
                                <p class="description style_3">Experience and Explore Clear Code Labs Projects.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5559b27a72219" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el full-width-content section-style    " style="background-color: #f6f6f6; padding-top: 0px !important; padding-bottom: 0px !important; ">
                <div class="col span_12  dark">
                    <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                        <div class="wpb_wrapper">
                            <div class="home_portfolio ">
                                <div class="">
                                    <section id="portfolio-preview-items" class="four-cols animate_onoffset" data-nr="4">
                                        
                                        {% for proj in projects %}
                                        <div class="portfolio-item html java  v2" data-id="3537">
                                            <div class="he-wrap tpl2">
                                                <img src="{{ proj.product_image.url }}" alt="">
                                                <div class="overlay he-view">
                                                    <div class="bg a0" data-animate="fadeIn">
                                                        <div class="center-bar v1">
                                                            <div class="centered">
                                                                <div class="portfolio_go a0" data-animate="zoomIn">
                                                                    <a href="{{ proj.get_absolute_url }}"><i class="moon-redo"></i></a>
                                                                </div>
                                                            </div>
                                                            <a href="{{ proj.product_image.url }}" class="title a1 lightbox-gallery lightbox" data-animate="fadeInUp">{{ proj.title }}</a>
                                                            <a href="#" class="categories a2" data-animate="zoomIn">{{ proj.title }} </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!--8888888888888888888888888888- - -ANOTHER SECTION- - -8888888888888888888888888888888 -->

<!--
            <div id="fws_5559b27a83c70" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="background-color: #f6f6f6; padding-top: 20px !important; padding-bottom: 20px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="textbar-container wpb_content_element  style_1 " style="background:; border:none;;">
                                    <h1 style="color: #222222">HELLO THIS IS FRANCIS</h1><span class="subtitle" style="color: #222222"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

-->


            <div id="fws_5559b27a8caaf" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="background-color: #f6f6f6; padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div id="fws_5559b27a8d3ae" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-pencil-6" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">POWER OF FLEXIBILITY</a></h4>
                                                                <p>At Clear Code Labs Labs we are up-to-date with the latest technological trends. We see to it that your firm is not left behind technologically.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-cloud-upload" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">SUBSCRIBE TO OUR SERVICES</a></h4>
                                                                <p>Subcribe to our services today. Let us give you the Midas touch that will take your company to the next level!</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-earth" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Translation Ready</a></h4>
                                                                <p>We are short and sweet. We are also proficient in providing software solutions that will make your firm a world-class leader in your industry.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-pen-3" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Great Design Layout</a></h4>
                                                                <p>Permit Clear Code Labs to take a close look at your old & new websites or mobile apps. You will not regret it! </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="linecon-icon-phone" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Fully Responsive</a></h4>
                                                                <p>Responsive websites are the future! These let your site adapt to different screen sizes, thus enabling your website visitors get an optimum view of your services.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-eye-8" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">100% Ready</a></h4>
                                                                <p>At Clear Code Labs we are 100% committed to meeting all your IT needs and providing you with the right services you need to succeed in your field!</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <!-- Social Profiles -->
        <!-- Footer -->
    </div>

{% include 'footer.html' %}
<!-- #footer -->

{% endblock %}


<div id='fws_5559b27a70671' class='wpb_row animate_onoffset  vc_row-fluid   row-dynamic-el section-style parallax_section' style='background-repeat: no-repeat; padding-top: 90px !important; padding-bottom: 90px !important;'>
                <div class="parallax_bg" style="background-image: url(static/uploads/2015/01/4-1-copy.jpg); 
                background-position: 50% 0px; background-attachment:fixed !important"></div>
                <div class="container animate_onoffset light">
                    <div class="section_clear">
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="animated_counter">
                                    <div class="icons"><i class="moon-users-3"></i></div>
                                    <div class="count_to animate_onoffset">
                                        <div class="odometer" data-number="235" data-duration="2000"></div>
                                    </div>
                                    <div class="title_counter">
                                        <h4>Clients</h4></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="animated_counter">
                                    <div class="icons"><i class="moon-file-3"></i></div>
                                    <div class="count_to animate_onoffset">
                                        <div class="odometer" data-number="145" data-duration="2000"></div>
                                    </div>
                                    <div class="title_counter">
                                        <h4>Projects</h4></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="animated_counter">
                                    <div class="icons"><i class="steadysets-icon-coffee"></i></div>
                                    <div class="count_to animate_onoffset">
                                        <div class="odometer" data-number="2357" data-duration="2000"></div>
                                    </div>
                                    <div class="title_counter">
                                        <h4>Cups of Caffe</h4></div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="animated_counter">
                                    <div class="icons"><i class="moon-code"></i></div>
                                    <div class="count_to animate_onoffset">
                                        <div class="odometer" data-number="8234" data-duration="2000"></div>
                                    </div>
                                    <div class="title_counter">
                                        <h4>Lines of Code</h4></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="fws_5559b27a84678" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 120px !important; padding-bottom: 90px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element media media_el animate_onoffset"><img src="{% static 'uploads/2015/01/66666.png' %}" alt="" class="type_image media_animation animation_left alignment_left" style="" /></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0" id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Recent tweets</h2></div>
                                <div class="recent_news wpb_content_element">
                                                                       <div class="row">
                                        <!-- <div class="news-carousel "> -->
                                            <div class="carousel-inner" role="listbox">
                                                {% for testimonies in testimonials %}
                                                <div class="item {% if forloop.last %}active{% endif %}">
                                                    <dl class="news-article blog-article dl-horizontal">
                                                        <dt><img src="{{ testimonies.photo.url }}" alt=""></dt>
                                                        <dd>
                                                            <h5><span><b>{{ testimonies.name }}</b></span> <i>the {{ testimonies.position }} of {{ testimonies.organisation }}</i></h5>
                                                            <div class="blog-content">{{ testimonies.testimony }}</div>  
                                                        </dd>
                                                    </dl>
                                                </div>
                                                {% endfor %}
                                            </div>
                                 
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div id="fws_5559b27a89da7" class="wpb_row animate_onoffset  vc_row-fluid   row-dynamic-el section-style parallax_section   borders  " style="background-repeat: no-repeat; padding-top: 100px !important; padding-bottom: 100px !important; ">
                <div class="parallax_bg" style="background-image: url(static/uploads/2015/01/yteydf67y.jpg); background-position: 50% 0px; background-attachment:fixed !important"></div>
                <div class="container animate_onoffset light">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element full_testimonials full">
                                    <div class="row">
                                        <h2>What they say</h2>
                                        <div class="header style_3">
                                            <div class="line_under">
                                                <div class="line_center"></div>
                                            </div>
                                            <div class="line_under below_line">
                                                <div class="line_center"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="carousel carousel_single_testimonial">
                                            {% for testimonies in testimonials %}
                                            <div class="single_testimonial ">

                                                <div class="content">
                                                   <p>{{ testimonies.testimony }}</p>
                                                    <div class="data">
                                                        
                                                        <h6> <img width="65" height="65" src="{{ testimonies.photo.url }}" alt=""><br><br>{{ testimonies.name }}, <span class="position"> the {{ testimonies.position }} of {{ testimonies.organisation }}</span></h6></div>
                                                </div><span class="img_testimonial"><img width="65" height="65" src="{{ testimonies.photo.url }}" class="attachment-65x65 wp-post-image" alt="shutterstock_95201956.min (1)" /></span></div>

                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="controls"><br><br><br>
                                        <a href="#" class="prev"></a>
                                        <a href="#" class="next"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="fws_5559b27a9a709" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="background-color: #f6f6f6; padding-top: 90px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Team Members</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5559b27a9af50" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="background-color: #f6f6f6; padding-top: 0px !important; padding-bottom: 90px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                    {% for member in staff %}
                        <div class="vc_col-sm-3 wpb_column column_container" style="" data-animation="" data-delay="0">
                            
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element">
                                
                                    <div class="one-staff">
                                    
                                        <div class="img_staff"><img src="{{ member.photo.url }}" alt=""></div>
                                        <div class="content ">
                                            <h6>{{ member.full_name }}</h6>
                                            <div class="position_title"><span class="position">{{ member.job_title }}</span></div>
                                            <p>{{ member.bio|truncatechars:40 }}</p>
                                        </div>
                                        <div class="social_widget">
                                            <ul>
                                                <li class="facebook"><a href="{{ member.facebook_url }}" title="Facebook" target="_blank"><i class="moon-facebook"></i></a></li>
                                                <li class="twitter"><a href="{{ member.twitter_url }}" title="Twitter" target="_blank"><i class="moon-twitter"></i></a></li>
                                                <li class="google_plus"><a href="{{ member.google_plus_url }}" title="Google Plus" target="_blank"><i class="moon-google_plus"></i></a></li>
                                                <li class="pinterest"><a href="{{ member.pintrest_url }}" title="Pinterest" target="_blank"><i class="moon-pinterest"></i></a></li>
                                                <li class="linkedin"><a href="{{ member.linkdin_url }}" title="Linkedin" target="_blank"><i class="moon-linkedin"></i></a></li>
                                                <!-- <li class="main"><a href="#" title="Mail"><i class="moon-mail"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                     
                                </div>
                                
                            </div>
                        </div>
                            {% endfor %}                  
                    </div>
                    
                </div>
            </div>




           <div id="fws_5559b27a97e49" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 90px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Our Specialty</h2></div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Clear Code Labs is commited to providing the following Services to Individual businesses as well as to companies.</p>
                                    </div>
                                </div>
                                <div class="wpb_content_element block_skill">
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Web Development</h6>
                                        <div class="prog" style="width:0%; background:#94e0fe;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Mobile Development</h6>
                                        <div class="prog" style="width:0%; background:#23d5ff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">IT Solutions</h6>
                                        <div class="prog" style="width:0%; background:#0baaff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">ICT Consulting</h6>
                                        <div class="prog" style="width:0%; background:#0a81cd;"><span style="float:right">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Why Choose Us</h2></div>
                                <div class="wpb_accordion wpb_content_element not-column-inherit">
                                    <div class="accordion " id="accordion1" data-active-tab="">
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading in_head"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle19724">5 Stars Support</a></div>
                                            <div id="toggle19724" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our Support is next to no other, we always commited to providing you with Every support required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle34392">Great Page Builder</a></div>
                                            <div id="toggle34392" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our Design Concept Ensure you have Great Website and Mobile Applications for your Business.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle12498">Awesome Design Layout</a></div>
                                            <div id="toggle12498" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>In Simple Term Our Softwares are Awesome with fantastic Layout to suit Every Device of your Choice.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div id="fws_5559b27a8eabd" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el full-width-content section-style    " style="padding-top: 90px !important; padding-bottom: 0px !important; ">
                <div class="col span_12  dark">
                    <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                        <div class="wpb_wrapper">
                            <div class="wpb_content_element dynamic_page_header style_3">
                                <h1 style="font-size:36px; color:#3d3d3d">Recent  NewsFeed</h1>
                                <div class="line_under">
                                    <div class="line_center"></div>
                                </div>
                                <div class="line_under below_line">
                                    <div class="line_center"></div>
                                </div>
                                <!-- <p class="description style_3">Showcase Your Work with Ausart It will be an Awesome Experience.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_5559b27a8f33b" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 30px !important; padding-bottom: 30px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        {% for item in news %}
                        <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                
                                <div class="latest_blog wpb_content_element">
                                    <div class="blog_posts">
                                     
                                        <div class="posts">

                                            <div class="blog-article grid"><img alt="image_blog" src="{{ item.image.url }}">
                                                <div class="blog_content">
                                                
                                                    <dl>
                                                        <dt class="dt_latest_blog">
                                                            <div class="date_divs">{{ item.timestamp|date:"d" }}</div>
                                                            <div class="month_div">{{ item.timestamp|date:"M" }}</div>
                                                            <div class="post_type"><i class="moon-pencil"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <div class="content">
                                                                <h5><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h5>
                                                                <ul class="overlay">
                                                                    <li class="author">by {{ item.user }}</li>
                                                                    <li class="author">|</li>
                                                                    <!-- <li class="comments_nr">1 Comments</li> -->
                                                                </ul>
                                                                <p>{{ item.body|linebreaks|truncatechars:120 }} </p><a class="readmore" href="{{ item.get_absolute_url }}">Read More</a></div>
                                                        </dd>
                                                    </dl>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                     
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="fws_5559b27a9503d" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    borders  " style="background-image: url(static/uploads/2015/01/slider7.jpg); background-position: center top; background-repeat: no-repeat; padding-top: 90px !important; padding-bottom: 90px !important; ">
                <div class="bg-overlay" style="background:rgba(, , , 0.7);z-index:1;"></div>
                <div class="container  light">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element media media_el animate_onoffset"><img src="{% static 'uploads/2015/01/imacoik.png' %}" alt="" class="type_image media_animation animation_left alignment_left" style="" /></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>WHAT IS IMPORTANT TO US?</h2></div>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>At clear Code Labs your Business growth is very very important to us ,</p>
                                    </div>
                                </div>
                                <div id="fws_5559b27a964ff" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Growth. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Future. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We Shape Your Strategy </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We facilitates Evaluation and Improvement. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Make Your Company unique in your industry. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you meet your Customer Expectations</h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Ensure your reputation is Maintained in your industry </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help Your Business Meet Standards </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you Establish Online presence </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Help you save Cost </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 
            <div id='fws_5559b27aa3ff1' class='wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section' style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="dark_clients clients_el ">
                                    <div class="header">
                                        <h2>Our Clients</h2></div>
                                    <section class="row clients clients_caro">
                                        {% for company in company%}
                                        <div class="item">
                                            <a href="#" title="">
                                                <img src="{{ company.logo.url }}" alt="">
                                            </a>
                                        </div>
                                        {% endfor %}
                                  
                                    </section>
                                    <div class="controls">
                                        <a class="prev"></a>
                                        <a class="next"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>