{% extends "base.html" %}
{% load staticfiles %}


{% block jQuery%}


{% endblock %}

{% block content %}
{% include "top_menu.html" %}

<div class="top_wrapper   no-transparent">
<!-- .header -->
<!-- Page Head -->
<div class="header_page basic background_image" style="background-image:url({% static 'uploads/2014/11/123122.jpg' %});background-repeat: no-repeat; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; color:#2f383d; ">
    <div class="container">
        
        <h1 class="title">ClearCodeLabs Services</h1>
        <div class="breadcrumbss">
            <ul class="page_parents pull-right">
                <li class="breadcrumbs_c"><i class="moon-home-3"></i>&nbsp;&nbsp;&nbsp;You are here</li>
                <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="#">Home</a></li>
                <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="#">Services</a></li>
            </ul>
        </div>
    </div>
</div>
 <section id="content" class="composer_content">
            <div id="fws_556c493b398f3" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element services_media">
                                    <div class="img_div port_quadratic"><img src="{% static 'uploads/2014/12/444-min-726x750-200x200.jpg' %}" alt="" /></div>
                                    <h1><a href="#">Clean Design</a></h1>
                                    <div class="serv_content">
                                        <p></p>
                                        <div class="col_one_third nobottommargin">
                                            <div class="feature-box media-box">
                                                <div class="fbox-desc">
                                                    <p>We Give you clean Clear Design for Every Web or Mobile Application of your Choice.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col_one_third nobottommargin"></div>
                                        <p></p>
                                    </div><!-- <span class="read_more"><a href="#">Learn More</a></span> --></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element services_media">
                                    <div class="img_div port_quadratic"><img src="{% static 'uploads/2014/12/222-min-726x750-200x200.jpg' %}" alt="" /></div>
                                    <h1><a href="#">Growth Company</a></h1>
                                    <div class="serv_content">
                                        <p></p>
                                        <div class="col_one_third nobottommargin">
                                            <div class="feature-box media-box">
                                                <div class="fbox-desc">
                                                    <p>Clear Code Growth Is Unimaginable from Handling Individual projects to Company and Government Projects.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col_one_third nobottommargin"></div>
                                        <p></p>
                                    </div><!-- <span class="read_more"><a href="#">Learn More</a></span> --></div>
                            </div>
                        </div>
                        <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element services_media">
                                    <div class="img_div port_quadratic"><img src="{% static 'uploads/2014/12/123456-726x750-200x200.jpg' %}" alt="" /></div>
                                    <h1><a href="#">Great Support</a></h1>
                                    <div class="serv_content">
                                        <p></p>
                                        <div class="col_one_third nobottommargin">
                                            <div class="feature-box media-box">
                                                <div class="fbox-desc">
                                                    <p>Our Support is next to no other, we always commited to providing you with Every support required.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col_one_third nobottommargin"></div>
                                        <p></p>
                                    </div><!-- <span class="read_more"><a href="#">Learn More</a></span> --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556c493b3bd3b" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    borders  " style="background-color: #f6f6f6; padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element media media_el animate_onoffset"><img src="" alt="" class="type_image media_animation animation_right alignment_center" style=" width:750px !important;position:relative; left:50%; margin-left:-375px; " /></div>
                                <div id="fws_556c493b3c799" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-pencil-6" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">POWER OF FLEXIBILITY</a></h4>
                                                                <p>At Clear Code Labs We Move With current Trend in Technology, Ensuring that Your business is not left Behind Current technological Trends</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-cloud-upload" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">SUBSCRIBE TO OUR SERVICES</a></h4>
                                                                <p>Subcribe to our Services today and permit us to give you the perfect touch that will shoot your Business to the next level.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-earth" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Translation Ready</a></h4>
                                                                <p>We are Clear and Concise with our services, We are also Consistent in providing services that will make your business appropriate for Local and international market with accurate Softwares and Services and Ensuring You take Control of Your Industry.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-pen-3" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Great Design Layout</a></h4>
                                                                <p>Permit Clear Code Labs today to take another look at your old websites or mobile Apps, New Website or Mobile Apps and we promise to blew your mind, and take our breath away. Guaranteed</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="linecon-icon-phone" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">Fully Responsive</a></h4>
                                                                <p>Responsive websites are the future! They allow your site to adapt to different screen sizes which means that whatever device your web visitors are using they get the best possible view of your business or service.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" services_small wpb_content_element">
                                                        <div class="services_small_container">
                                                            <div class=" services_small_icon " style=""><i class="moon-eye-8" style="color:;"></i> </div>
                                                            <div class="services_small_title">
                                                                <h4><a href="#">100% Ready</a></h4>
                                                                <p>At Clear Code Labs we are 100% Committed and Ready to meet every of your IT needs and Provide you with the Right services You truelly Need to succed in your business.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556c493b3dde0" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div id="fws_556c493b3e433" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" style="height: 64px"><span class="vc_empty_space_inner"></span></div>
                                                    <div class="wpb_content_element media media_el animate_onoffset"><img src="{% static 'uploads/2015/01/111cscs1.png' %}" alt="" class="type_image media_animation animation_left alignment_left" style="" /></div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class="header " style="">
                                                        <h2>We provide best solutions</h2></div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>At clear Code Labs your Business growth is very very important to us...</p>
                                                        </div>
                                                    </div>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark-circle"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Growth,</h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark-circle"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We focus on your Company Future,</h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark-circle"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We Shape Your Strategy,</h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark-circle"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>We facilitates Evaluation and Improvement, </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                    <dl class="dl-horizontal list">
                                                        <dt>
                                                            <div class="overlay"></div>
                                                            <div class="circle"><i class="moon-checkmark-circle"></i></div>
                                                        </dt>
                                                        <dd>
                                                            <h4>Make Your Company unique in your industry. </h4>
                                                            <p></p>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="fws_556c493b408a6" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="background-image: url(assets/uploads/2015/01/02.jpg); background-position: left top; background-repeat: no-repeat; padding-top: 90px !important; padding-bottom: 0px !important; ">
                <div class="container  light">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element dynamic_page_header style_3">
                                    <h1 style="font-size:34px; color:#ffffff">AUSART IS AN PROFESSIONAL LOOKING WORDPRESS THEME</h1></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="fws_556c493b410f4" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Why Choose Us</h2></div>
                                <div class="wpb_accordion wpb_content_element not-column-inherit">
                                    <div class="accordion " id="accordion1" data-active-tab="">
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle42543">Our Great Support</a></div>
                                            <div id="toggle42543" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Our Support is next to no other, we always commited to providing you with Every support required.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle24387">Our Services</a></div>
                                            <div id="toggle24387" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Web Development, Mobile Development, IT solutions, ICT Consulting....</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#toggle40050">Our Features</a></div>
                                            <div id="toggle40050" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>In Simple Term Our Softwares are Awesome with fantastic Layout to suit Every Device of your Choice.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Our Specialty</h2></div>
                                <div class="wpb_content_element block_skill">
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Web Development</h6>
                                        <div class="prog" style="width:0%; background:#94e0fe;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">Mobile Development</h6>
                                        <div class="prog" style="width:0%; background:#23d5ff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">IT Solutions</h6>
                                        <div class="prog" style="width:0%; background:#0baaff;"><span style="float:right">100%</span></div>
                                    </div>
                                    <div class="skill animate_onoffset" data-percentage="100">
                                        <h6 class="skill_title">ICT Consulting</h6>
                                        <div class="prog" style="width:0%; background:#0a81cd;"><span style="float:right">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556c493b4335f" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    borders  " style="background-color: #f6f6f6; padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element full_testimonials full">
                                    <div class="row">
                                        <h2>Testimonials</h2>
                                        <div class="header style_3">
                                            <div class="line_under">
                                                <div class="line_center"></div>
                                            </div>
                                            <div class="line_under below_line">
                                                <div class="line_center"></div>
                                            </div>
                                        </div>
                                        <div class="carousel carousel_single_testimonial">


                                             {% for testimonies in testimonials %}
                                            <div class="single_testimonial ">

                                                <div class="content">
                                                   <p>{{ testimonies.testimony }}</p>
                                                    <div class="data">
                                                        
                                                        <h6> <img width="65" height="65" src="{{ testimonies.photo.url }}" alt=""><br><br>{{ testimonies.name }}, <span class="position"> the {{ testimonies.position }} of {{ testimonies.organisation }}</span></h6></div>
                                                </div><span class="img_testimonial"><img width="65" height="65" src="{{ testimonies.photo.url }}" class="attachment-65x65 wp-post-image" alt="shutterstock_95201956.min (1)" /></span></div>

                                            {% endfor %}
                                        </div>
                                            
                                        </div>
                                    </div>
                                  <!--   <div class="controls">
                                        <a href="#" class="prev"></a>
                                        <a href="#" class="next"></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
{% include 'footer.html' %}

{% endblock %}