{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">    
                <div class="intro-lead-in">We Solve Your Everyday Problems With Software Made From </div>
                <div class="intro-heading">Clear Codes</div>
                <a href="" class="page-scroll btn btn-xl">Tell Us Your Idea</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Your Home for all IT solutions, Mobile Development, Web Development and ICT Consulting.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">

                    <img src="{% static 'img/consult3.jpg' %}" class="img-responsive" alt="">
                    <h4 class="service-heading">ICT CONSULTING</h4>
                    <p class="text-muted" style="text-align: justify;">ClearCode labs has a philosophy 
                    No Problem is too big, No detail is too small Based on this ideology we focus on advising organizations on how best to use the available technologies to solve their IT problems and we ensure that we give the best details to lesson ambiguity and to put clearity on the nitty-gritty that would aid the client in achieving their desired business goals.</p>
                </div>
                <div class="col-md-3">
                    
                    <img src="{% static 'img/webdev.jpg' %}" class="img-responsive" alt="">
                    <h4 class="service-heading">WEB APP DEVELOPMENT</h4>
                    <p class="text-muted" style="text-align: justify;">We develop highly cost effective and goal oriented custom websites. ClearCode labs have been creating top-notch web applications since 1997, and has progressively gained insights into Aesthetic Layers design, Technical Layers functionality & Friendly User experience. We always focus on achieving our customers' aims by keeping close relationships.</p>
                </div>
                <div class="col-md-3">

                    <img src="{% static 'img/mobile3.jpg' %}" class="img-responsive" alt="">
                    <h4 class="service-heading">MOBILE APP DEVELOPMENT</h4>
                    <p class="text-muted" style="text-align: justify;">Clear-code Labs develop Portable, Lightweight, Cost effective Mobile Apps for Windows-Phones, iPhone, Android & Blackberry platforms. These applications can be custom-installed on your device or can be deployed to the various App-Stores for many users to have access to, there-by augmenting your reach to different people on other Mobile Platforms.</p>
                </div>
                <div class="col-md-3">

                    <img src="{% static 'img/consult4.jpg' %}" class="img-responsive" alt="">
                    <h4 class="service-heading">IT SUPPORT PROVIDER</h4>
                    <p class="text-muted" style="text-align: justify;">We don't just provide expert IT Solutions, Clear Code labs also provides a wide variety of support for web hosting, maintenance and troubleshooting. Including fixing website errors for systems not orignilly designed by our team. Dare to make us your first choice and be one of the fortune great companies that have enjoyed the benefits of our long lasting solutions of unequalled benefits</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Team Section -->
    
    <section id="requestquote" style="background-image: url('{% static 'img/time.jpg' %}'); background-position: center; background-repeat: no-repeat;">
        <!-- class="bg-light-gray" -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="color: white;">
                    <h2 class="section-heading">Request a Quote</h2>
                    <h3 class="section-subheading"><strong>We are Creative, And the Timely Delivery of our Customer's Satisfaction is Our Priority</strong></h3>
                    <!-- text-muted -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        
                    </div>
                </div>
                
                <div class="col-sm-8">
                    <div class="team-member">
                        <form action="." method="post" name="sentMessage" id="requestQuote" enctype="multipart/form-data">{% csrf_token %}

                            {% if form2.non_field_errors %}
                                {% for error in form2.non_field_errors %}
                                    <div class="has-error">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if form2.name.errors %}
                                                <p class="help_block">
                                                    {{ form2.name.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if form2.phone.errors %}
                                                <p class="help_block">
                                                    {{ form2.phone.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.phone }}
                                        </div>
                                        <div class="col-md-6">
                                            {% if form2.email.errors %}
                                                <p class="help_block">
                                                    {{ form2.email.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if form2.category.errors %}
                                                <p class="help_block">
                                                    {{ form2.category.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.category }}
                                        </div>
                                        <div class="col-md-6">
                                            {% if form2.budget.errors %}
                                                <p class="help_block">
                                                    {{ form2.budget.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.budget }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if form2.project.errors %}
                                                <p class="help_block">
                                                    {{ form2.project.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form2.project }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl" name="request_quote_form">Request Quote</button>
                                </div>
                            </div>
                            
                        </div>
                    </form> 
                    </div>
                </div>
            </div>
        </div>
    </section>
-->

    <!-- Portfolio Grid Section -->
    <!--
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Take a look at some of our designs.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Golden</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/escape.png' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"><strong>Consulting and Software development services based out of Lagos, Nigeria and serving the world
                    </strong></h3>
                    <!-- We are a software company based in Nigeria and providing ICT consulting and software development services for Nigerians and the world at large. -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/clearcode2.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Since 2016</h4>
                                    <h4 class="subheading">When it started</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were incorporated in 2016, and since then we have been helping new and established businesses bridge the gap between ideas and solutions; problems and customer satisfaction.
                                    Let us help you.</p>
                                    <!-- Seeing the need to help businesses succeed in their goals and objectives. Clear Code Labs was born to bridge the gap between Ideas, Problems and Customer Satisfaction. <br>
                                    When it comes to ICT Solutions, We are sure to fill that gap, while maintaining a good support relationship both with clients and their project growth! -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/mission101.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Mission</h4>
                                    <h4 class="subheading">Solve problems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We use the simplest means we can to solve the more difficult problems for our clients
                                    </p>
                                    <!-- We are more resolute to solving everyday problems by doing little things that will make maximum positive impact in people’s lives. There by creating a healthy environment. -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/vision.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our Vision</h4>
                                    <h4 class="subheading">Transforming your business</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Transforming your business
                                    We want you to make more money with less effort using technology that is friendly and accessible.</p>
                                    <!-- To be the <strong>Number One Choice</strong> for all your software related needs, be it complex or simple. <br>We want to give your business the full attention it requires to succeed in the competitive industry of your choice and at a very affordable rate. We set Clear standards with Clear Codes.-->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'img/joinus.jpg' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Join Us</h4>
                                    <h4 class="subheading">And Experience the Success</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are open to your ideas and proposals. Let us build your dream together.<br> It is our Job, It is our Passion <i>making dreams come true</i> <br>
                                    Visit us at  <a href="http://clearcode.com.ng">Clear Code Labs</a> or
                                    <br>
                                    E-mail us on <a href="mailto:info@clearcode.com.ng">info@clearcode.com.ng</a> for a quick response </p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <form action="." method="post" name="sentMessage" id="contactForm" enctype="multipart/form-data">{% csrf_token %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="has-error">
                                    {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if form.name.errors %}
                                                <p class="help_block">
                                                    {{ form.name.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form.name }}
                                        </div>
                                        <div class="col-md-6">
                                            {% if form.email.errors %}
                                                <p class="help_block">
                                                    {{ form.email.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if form.subject.errors %}
                                                <p class="help_block">
                                                    {{ form.subject.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form.subject }}
                                        </div>
                                        <div class="col-md-6">
                                            {% if form.phone.errors %}
                                                <p class="help_block">
                                                    {{ form.phone.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if form.message.errors %}
                                                <p class="help_block">
                                                    {{ form.message.errors }}
                                                </p>
                                            {% endif %}
                                            {{ form.message }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl" name="contact_form">Send Message</button>
                                </div>
                            </div>
                            
                        </div>
                    </form>                    
                </div>
                <div class="col-md-4">
                    <div class="rcorners2" >
                        
                        <i>Do you have enquiries or support questions to ask? Send us a message and we would get in touch in the maximum shortest time.</i>

                        <br>
                        <br>
                        <strong>Find Us</strong>
                        <br>
                        10a Social Science Road, Unilag Estate
                        Lagos, Nigeria
                        <br>
                        <br>
                        <strong>Call Us</strong>
                        <br>
                        +234 812 235 6701
                        <br>
                        <br>
                        <strong>E-mail Us</strong>
                        <br>
                        info@clearcode.com.ng
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Clear Code Labs 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/ClearCodeNg"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/Clearcodelabs/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                    <!--
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Project Heading</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block style %}
<style type="text/css">
    div.rcorners2 {
        background: white;
        border: 3px solid yellow;
        border-radius: 25px;
        padding: 20px;
        font-size: 18px;

    }
    .errorlist {
        color: white;
        font-weight: 8px;
    }
</style>
{% endblock style %}