{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" />
<!-- Title -->
<title>ClearCodeNG</title>
<!-- Responsive Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Pingback URL -->
<!-- <link rel="pingback" href="xmlrpc.php" /> -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>

<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->
<link rel='stylesheet' href='{% static "plugins/LayerSlider/static/css/layerslider.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />

{% include 'head_css.html' %}

<script type='text/javascript' src='{% static "plugins/LayerSlider/static/js/greensock.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/jquery/jquery.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/jquery/jquery-migrate.min.js" %}'></script>
<script type='text/javascript' src='{% static "plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js" %}'></script>
<script type='text/javascript' src='{% static "plugins/LayerSlider/static/js/layerslider.transitions.js" %}'></script>
<script type='text/javascript' src='{% static "plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js" %}'></script>
<script type='text/javascript' src='{% static "plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.easy-pie-chart.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.appear.js" %}'></script>
<script type='text/javascript' src='{% static "js/modernizr.custom.66803.js" %}'></script>
<script type='text/javascript' src='{% static "js/odometer.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/animations.js" %}'></script>
<script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.easing.1.1.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.easing.1.3.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.mobilemenu.js" %}'></script>
<script type='text/javascript' src='{% static "js/isotope.js" %}'></script>
<script type='text/javascript' src='{% static "js/layout-mode.js" %}'></script>
<script type='text/javascript' src='{% static "js/masonry.pkgd.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.cycle.all.js" %}'></script>
<script type='text/javascript' src='{% static "js/customSelect.jquery.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.flexslider-min.js" %}'></script>
<script type='text/javascript' src='{% static "fancybox/source/jquery.fancybox.js" %}'></script>
<script type='text/javascript' src='{% static "fancybox/source/helpers/jquery.fancybox-media.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.carouFredSel-6.1.0-packed.js" %}'></script>
<script type='text/javascript' src='{% static "js/tooltip.js" %}'></script>
   
  <style>
  {% block style %}
  

  {% endblock %}

  </style>


</head>

<body class="home page page-template-default header_1_body fullwidth_slider_page with_slider_page wpb-js-composer vc_responsive">



{% block content %}

{% endblock %}

    <!-- jQuery -->
{% include "javascript.html" %}

<script >
{% block jQuery%}

{% endblock %}
</script>

</body>

</html>
