<footer id="footer" class="type_">
            <div class="inner">
                <div class="container">
                    <div class="row-fluid ff">
                        <!-- widget -->
                        <div class="span3">
                            <div id="text-2" class="widget widget_text">
                                <h4 class="widget-title">About Clear Code Lab</h4>
                                <div class="textwidget">Clear Code Software Labs is a company founded by people with a simple philosophy: to use technology creatively in finding the simple solutions to problems in society
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div id="widget_recent_content-2" class="widget widget_recent_content">
                                <h4 class="widget-title">Recent Posts</h4>
                                {% for news in news %}
                                <div id="popular_widget">
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></div>
                                            <span>{{ news.timestamp|date:"d" }}, {{ news.timestamp|date:"Y" }}</span>
                                        </dd>
                                    </dl>
                              
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="span3">
                            <div id="tag_cloud-3" class="widget widget_tag_cloud">
                                <h4 class="widget-title">Tags</h4>
                                <div class="tagcloud"><a href='#' class='tag-link-27' title='1 topic' style='font-size: 8pt;'>business</a>
                                    <a href='#' class='tag-link-29' title='1 topic' style='font-size: 8pt;'>composer</a>
                                    <a href='#' class='tag-link-26' title='1 topic' style='font-size: 8pt;'>css3</a>
                                    <a href='#' class='tag-link-30' title='1 topic' style='font-size: 8pt;'>drag and drop</a>
                                    <a href='#' class='tag-link-25' title='1 topic' style='font-size: 8pt;'>html5</a>
                                    <a href='#' class='tag-link-11' title='3 topics' style='font-size: 22pt;'>javascript</a>
                                    <a href='#' class='tag-link-9' title='3 topics' style='font-size: 22pt;'>picture</a>
                                    <a href='#' class='tag-link-10' title='2 topics' style='font-size: 16.4pt;'>post</a>
                                    <a href='#' class='tag-link-31' title='1 topic' style='font-size: 8pt;'>premium</a>
                                    <a href='#' class='tag-link-32' title='1 topic' style='font-size: 8pt;'>theme</a>
                                    <a href='#' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>visual</a>
                                    <a href='#' class='tag-link-4' title='1 topic' style='font-size: 8pt;'>wordpress</a>
                                    <a href='#' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>wp theme</a></div>
                            </div>
                        </div>
                        <div class="span3">
                            <div id="widget_contact_info-2" class="widget widget_contact_info">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul>
                                    <li class="address"><i class="moon-location"></i><span>Address:</span>
                                        <span> 10a Social Science Road, Unilag Estate,Magodo phase 1, Lagos </span><br /><span>  </span></li>
                                    <li class="email"><i class="moon-envelop"></i><span>Email:</span>
                                        <br /><span>info@clearcode.com.ng</span></li>
                                    <li class="phone"><i class="moon-phone"></i><span>Phone:</span>
                                        <br /><span>+234 8122356701 </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow_down"><i class="icon-angle-up"></i></div>
            </div>
            <div id="copyright">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12 desc">
                            <div class="span4">
                                <div id="text-3" class="widget widget_text">
                                    <div class="textwidget">COPYRIGHT &copy; 2016 - {% now 'Y' %} | ALL RIGHTS RESERVED</div>
                                </div>
                            </div>
                            <div class="span4"></div>
                            <div class="span4">
                                <div id="nav_menu-2" class="widget widget_nav_menu">
                                    <div class=" megamenu_container">
                                        <ul id="menu-footer" class="menu themeple_megemenu">
                                            <li class="menu-item   current-menu-item current_page_item menu-item-home"><a href="{% url 'home' %}">Home</a></li>
                                            <li class="  current_page_parent"><a href="/news">News Feed</a></li>
                                            <li><a href="/projects">Our Projects</a></li>
                                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #copyright -->
        </footer>