{% load staticfiles %}

<link rel='stylesheet' href='{% static "plugins/revslider/rs-plugin/css/settings.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C400%2C300%2C500%2C600%2C700%2C300italic' type='text/css' media='all' />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Satisfy' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/style.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/bootstrap.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/bootstrap-responsive.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/odometer-theme-minimal.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "fancybox/source/jquery.fancybox.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/hoverex-all.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/vector-icons.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/font-awesome.min.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/linecon.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/steadysets.css" %}' type='text/css' media='all' />
<link rel='stylesheet' href='{% static "css/jquery.easy-pie-chart.css" %}' type='text/css' />
<link rel='stylesheet' href='{% static "css/idangerous.swiper.css" %}' type='text/css' />
<link rel='stylesheet' href='{% static "css/eldo.css" %}' type='text/css' />
<link rel='stylesheet' href='{% static "css/custom.css" %}' type='text/css' />
<link rel='stylesheet' href='{% static "plugins/js_composer/assets/css/js_composer.css" %}' type='text/css' />
<link rel='stylesheet' href='{% static "uploads/js_composer/custom.css" %}' type='text/css' />
