{% load staticfiles %}

<script type='text/javascript' src='{% static "js/jquery.hoverex.js" %}'></script>
<!-- <script type='text/javascript' src='{% static "js/list.js" %}'></script> -->
<script type='text/javascript' src='{% static "js/jquery.jscroll.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/imagesloaded.pkgd.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.parallax.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.cookie.js" %}'></script>
<script type='text/javascript' src='{% static "js/main.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/comment-reply.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.placeholder.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.livequery.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.countdown.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/waypoints.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/background-check.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/idangerous.swiper.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.infinitescroll.js" %}'></script>
<script type='text/javascript' src='{% static "plugins/js_composer/assets/js/js_composer_front.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/jquery/ui/core.min.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/jquery/ui/widget.min.js" %}'></script>
<script type='text/javascript' src='{% static "includes/js/jquery/ui/accordion.min.js" %}'></script>