{% load staticfiles %}
<div class="top_nav">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <div class="pull-left">
                        <div id="widget_topnav-2" class="widget widget_topnav">
                            <div class="login small_widget">
                                <div class="widget_activation"><a href="" data-box="login">ClearCodeLab</a></div>
                                <div class="top_nav_sub login">
                                    <div class="sub-loggin">
                                        <form action="#" method="post">
                                            <input type="text" name="log" id="log" value="" size="20" placeholder="Username" />
                                            <input type="password" name="pwd" id="pwd" size="20" placeholder="Password" />
                                            <input type="submit" name="submit" value="Send" class="button" />
                                            <div class="check-login">
                                                <label for="rememberme">
                                                    <input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> Remember me</label>
                                            </div>
                                            <input type="hidden" name="redirect_to" value="/ausart/" />
                                        </form>
                                        <a href="wp-loginc2b6.html?action=lostpassword">Recover password</a> </div>
                                </div>
                            </div>
                        </div>
                        <div id="widget_topinfo-2" class="widget widget_topinfo">
                            <div class="topinfo">
                            <span class="phone"><i class="moon-phone"></i>+234 8122356701</span><span class="email"><i class="icon-envelope"></i>info@clearcode.com.ng</span></div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        <div id="social_widget-2" class="widget social_widget">
                            <div class="row-fluid social_row">
                                <div class="span12">
                                    <ul class="footer_social_icons">
                                        <li class="google_plus"><a href="#"><i class="moon-google_plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="moon-linkedin"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="moon-pinterest"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="moon-twitter"></i></a></li>
                                        <li class="facebook"><a href="#"><i class="moon-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="page-bg"></div>
 <div class="header_wrapper header_1 no-transparent  ">
        <header id="header" class="sticky_header ">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- Logo -->
                        <div id="logo" class="">
                            <a href="{% url 'home' %}"><img src='{% static "img/logo.png" %}' alt='' /><img src="{% static 'uploads/2014/11/logo_light1.png' %}" alt="" class="light" /></a>
                        </div>
                        <!-- #logo END -->
                        <div class="after_logo">
                            <!-- Search -->
                            <div class="header_search">
                                <div class="right_search">
                                    <i class="moon-search-2"></i>
                                </div>
                                <div class="right_search_container">
                                    <form action="#" id="search-form">
                                        <div class="input-append">
                                            <input type="text" size="16" placeholder="Search&hellip;" name="s" id="s">
                                            <button type="submit" class="more">Search</button>
                                            <a href="#" class="close_"><i class="moon-close"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Search-->
                        </div>
                        <!-- Show for all header expect header 4 -->
                        <div id="navigation" class="nav_top pull-right  ">
                            <nav>
                                <ul id="menu-menu-1" class="menu themeple_megemenu">
                                    <li class="menu-item menu-item-has-children "><a href="{% url 'home' %}">Home</a>
                                        <!-- current_page_ancestor menu-item-has-children current-menu-ancestor-->
                                    </li>
                                    
                                    <li class="menu-item   menu-item-has-children"><a href="{% url 'service' %}">Our Services</a>
                                      
                                    </li>
                                    <li class="menu-item   menu-item-has-children"><a href="{% url 'about' %}">About Us</a>
                                    
                                    </li>
                                    <li class="  menu-item-has-children"><a href="/projects">Our Projects</a>
                        
                                    </li>
                                    <li class="menu-item   menu-item-has-children"><a href="/news">News Feed</a>
                                        
                                    </li>
                                    <!-- <li class="  menu-item-has-children"><a href="#">Testimonials</a> -->
                                        
                                    </li>
                                    <!-- <li class="  menu-item-has-children"><a href="#">FAQ</a> -->
                                        
                                    </li>
                                    <li class="  menu-item-has-children"><a href="{% url 'contact' %}">Contact Us</a>
                                        
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- #navigation -->
                        <!-- End custom menu here -->
                        <a href="#" class="mobile_small_menu open"></a>
                    </div>
                </div>
            </div>
            <div class="header_shadow"><span class=""></span></div>
        </header>
        <div class="header_shadow"><span class=""></span></div>
        <!-- Responsive Menu -->
        <!--  -->
        <!-- End Responsive Menu -->
    </div>
